<a href="https://colab.research.google.com/github/kkvk001/iNeuron/blob/main/whole_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
17/3

5.666666666666667

In [ ]:
17//3

5

In [ ]:
17%3

2

In [ ]:
5*3+2

17

In [ ]:
5**2

25

In [ ]:
a=5
b=2
a*b

10

In [ ]:
n

NameError: name 'n' is not defined

In [ ]:
# operators with mixed type operands convert the integer operand to floating point:

In [ ]:
4 * 3.75 - 1

14.0

In [ ]:
tax = 12.5/100
price = 100.50
price*tax

12.5625

In [ ]:
price + _

113.0625

In [ ]:
round(_,2)

113.06

3.1.2. Strings

In [ ]:
'spam eggs'  # single quotes

'spam eggs'

In [ ]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [ ]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [ ]:
'"Yes," they said.'

'"Yes," they said.'

In [ ]:
"\"Yes,\" they said."

'"Yes," they said.'

In [ ]:
'"Isn\'t," they said.'   # \ = backslashes

'"Isn\'t," they said.'

In [ ]:
print('"Isn\'t," they said.')

"Isn't," they said.

In [ ]:
s = 'First line.\nSecond line.'  # \n means newline

In [ ]:
s  # without print(), \n is included in the output

'First line.\nSecond line.'

In [ ]:
print(s)  # with print(), \n produces a new line

First line.
Second line.

In [ ]:
print('C:\some\name')  # here \n means newline!

C:\some
ame

In [ ]:
print(r'C:\some\name')  # note the r before the quote

C:\some\name

In [ ]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [ ]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

In [ ]:
'Py' 'thon'

'Python'

In [ ]:
text = ('Put several strings within parentheses '
        'to have them joined together.')

In [ ]:
text

'Put several strings within parentheses to have them joined together.'

In [ ]:
prefix = 'Py'

In [ ]:
prefix + 'thon'

'Python'

In [ ]:
word = 'Python'

In [ ]:
word[0]  # character in position 0

'P'

In [ ]:
word[5]  # character in position 5

'n'

In [ ]:
word[-1]  # last character

'n'

In [ ]:
word[-2]  # second-last character

'o'

In [ ]:
word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

In [ ]:
word[:2]   # character from the beginning to position 2 (excluded)

'Py'

In [ ]:
word[4:]   # characters from position 4 (included) to the end

'on'

In [ ]:
word[-2:]  # characters from the second-last (included) to the end

'on'

In [ ]:
word[:2] + word[2:]

'Python'

In [ ]:
word[:4] + word[4:]

'Python'

In [ ]:
word[0] = 'J' # Python strings cannot be changed — they are immutable

TypeError: 'str' object does not support item assignment

In [ ]:
word[2:] = 'py'

TypeError: 'str' object does not support item assignment

In [ ]:
'J' + word[1:]

'Jython'

In [ ]:
word[:2] + 'py'

'Pypy'

In [ ]:
s = 'supercalifragilisticexpialidocious' #The built-in function len() returns the length of a string:

In [ ]:
len(s)

34

# 3.1.3. Lists

In [ ]:
squares = [1, 4, 9, 16, 25]

In [ ]:
squares

[1, 4, 9, 16, 25]

In [ ]:
squares[0]  # indexing returns the item

1

In [ ]:
squares[-1]

25

In [ ]:
squares[-3:]  # slicing returns a new list

[9, 16, 25]

In [ ]:
squares[:]

[1, 4, 9, 16, 25]

In [ ]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here

In [ ]:
4 ** 3  # the cube of 4 is 64, not 65!

64

In [ ]:
cubes[3] = 64  # replace the wrong value

In [ ]:
cubes

[1, 8, 27, 64, 125]

In [ ]:
cubes.append(216)  # add the cube of 6
cubes.append(7 ** 3)  # and the cube of 7
cubes

[1, 8, 27, 64, 125, 216, 216, 343]

In [ ]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
# replace some values
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [ ]:
# now remove them
letters[2:5] = []
letters

['a', 'b', 'f', 'g']

In [ ]:
 # clear the list by replacing all the elements with an empty list
letters[:] = []
letters

[]

In [ ]:
letters = ['a', 'b', 'c', 'd']
len(letters)

4

In [ ]:
#It is possible to nest lists (create lists containing other lists)
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

[['a', 'b', 'c'], [1, 2, 3]]

In [ ]:
x[0]

['a', 'b', 'c']

In [ ]:
x[0][1]

'b'

# 3.2. First Steps Towards Programming

In [ ]:
# Fibonacci series:
# the sum of two elements defines the next
a, b = 0, 1
while a < 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8

In [ ]:
i = 256*256
print('The value of i is', "\n", i)

The value of i is
 65536

In [ ]:
#The keyword argument end can be used to avoid the newline after the output, or end the output with a different string:
a, b = 0, 1
while a < 1000:
    print(a, end=',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

# 4. More Control Flow Tools

4.1. if Statements

In [ ]:
x = int(input("please enter an integer number:"))
if x < 0:
    x = 0
    print("Negative changed to zero")
elif x == 0:
    print("zero")
elif x == 1:
    print(" single ")
else:
    print("More")

please enter an integer number:12
More

4.2. for Statements

In [ ]:
# Python’s for statement iterates over the items of any sequence (a list or a string),

In [ ]:
# Measure some strings:
# Measure some strings:
words = ['cat', 'window', 'defenestrate']
for i in words:
     print(i, len(i))

cat 3
window 6
defenestrate 12

when you want to loop through the key and value pair of a dictionary at the same time , you must use dict.items() method, the items() method allows you to loop through the items of each dictionary element (or tuple) at the same time,

In [ ]:
# Create a sample collection
users = {"John": "inactive","Helen": "active","James": "active"}

# Strategy:  Iterate over a copy
for user, status in users.copy().items():
    if status == 'inactive':
        del users[user]

print("Users after deleting.")
for user, status in users.items():
    print(user, status)

Users after deleting.
Helen active
James active

In [ ]:
# Strategy:  Create a new collection
active_users = {}
for user, status in users.items():
    if status == 'active':
        active_users[user] = status
        
print("active_users.items")
for user, status in active_users.items():
    print(user, status)

active_users.items
Helen active
James active

4.3. The range() Function

If you do need to iterate over a sequence of numbers, the built-in function range() comes in handy. It generates arithmetic progressions

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
list(range(5, 10))

[5, 6, 7, 8, 9]

 It is possible to let the range start at another number, or to specify a different increment (even negative; sometimes this is called the ‘step’)

In [ ]:
list(range(0, 10, 3))

[0, 3, 6, 9]

To iterate over the indices of a sequence, you can combine range() and len() as follows

In [ ]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i,a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [ ]:
 sum(range(4))  # 0 + 1 + 2 + 3

6

# 4.4. break and continue Statements, and else Clauses on Loops

The break statement, breaks out of the innermost enclosing for or while loop.

In [ ]:
for n in range(2,10):
    for x in range(2,n):
        print(x)

2
2
3
2
3
4
2
3
4
5
2
3
4
5
6
2
3
4
5
6
7
2
3
4
5
6
7
8

In [ ]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n,'is not prime number')
            break
    else:
            print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 is not prime number
5 is a prime number
6 is not prime number
7 is a prime number
8 is not prime number
9 is not prime number

Yes, this is the correct code. Look closely: the else clause belongs to the for loop, not the if statement.

When used with a loop, the else clause has more in common with the else clause of a try statement than it does with that of if statements

In [ ]:
for num in range(2,10):
    if num%2 == 0:
        print("Found an even number",num)
        continue
    print("Found an odd number",num)

Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9

# 4.5. pass Statements

The pass statement does nothing. It can be used when a statement is required syntactically but the program requires no action. For example:

In [ ]:
while True:
    pass # Busy-wait for keyboard interrupt (Ctrl+C)

This is commonly used for creating minimal classes:

In [ ]:
class MyEmptyClass:
    pass

In [ ]:
def initlog(*args):
    pass   # Remember to implement this!

# 4.6. match Statements

A match statement takes an expression and compares its value to successive patterns given as one or more case blocks.
 Only the first pattern that matches gets executed and it can also extract components (sequence elements or object attributes) from the value into variables.

In [ ]:
def http_error(status):
    atch status:
        case 400:
            return "Bad request"
        case 404:
            return "Not found"
        case 418:
            return "I'm a teapot"
        case _:
            return "Something's wrong with the internet"

SyntaxError: invalid syntax (4288183966.py, line 2)

# 4.7. Defining Functions

In [ ]:
def fib(n):     # write Fibonacci series up to n
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()
    
    # Now call the function we just defined:

In [ ]:
fib(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [ ]:
f=fib
f(1000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

In [ ]:
print(f(10))

0 1 1 2 3 5 8
None

It is simple to write a function that returns a list of the numbers of the Fibonacci series, instead of printing it:

In [ ]:
def fib2(n):  # return Fibonacci series up to n
    """Return a list containing the Fibonacci series up to n."""
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)   # see below
        a, b = b, a+b
    return result

In [ ]:
f100 = fib2(100)    # call it

In [ ]:
f100

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

It is possible to define your own object types and methods, using classes, see Classes

 The method append() shown in the example is defined for list objects; it adds a new element at the end of the list. In this example it is equivalent to result = result + [a], but more efficient.

# 4.8. More on Defining Functions

It is also possible to define functions with a variable number of arguments. There are three forms, which can be combined.

# 4.8.1. Default Argument Values

Python allows function arguments to have default values. If the function is called without the argument, the argument gets its default value.

In [ ]:
def ask_ok(retries=4, reminder='Please try again!'):
     while True:
        ok = input()
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)

In [ ]:
ask_ok()

In [ ]:
i = [5]

def f(arg=i):
    print(arg)
    
i = [6]
f()

[5]

Important warning: The default value is evaluated only once. This makes a difference when the default is a mutable object such as a list, dictionary, or instances of most classes. For example, the following function accumulates the arguments passed to it on subsequent calls:

In [ ]:
f(10)

10

In [ ]:
def f(a, L=[]):
    L.append(a)
    return L

print(f(1))
print(f(2))
print(f(3))

[1]
[1, 2]
[1, 2, 3]

# 4.8.2. Keyword Arguments

Functions can also be called using keyword arguments of the form kwarg=value. For instance, the following function:

In [ ]:
def funargs(normal,*args,**kwargs):
    print(normal)
    for item in args:
        print(item)
    print("\nNow in kwargs")
    for key, value in kwargs.items():
        print(f"{key} is a {value}")

normal = "this is a normal argument and the student are"
args = ['kashif','khan','allen','delhi']
kwargs = {'kashif':'is a student','allen':'is a coaching'}

In [ ]:
funargs(normal,*args,**kwargs)

this is a normal argument and the student are
kashif
khan
allen
delhi

Now in kwargs
kashif is a is a student
allen is a is a coaching

In [ ]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")

accepts one required argument (voltage) and three optional arguments (state, action, and type). This function can be called in any of the following ways:

In [ ]:
#parrot(1000)                                        # 1 positional argument
#parrot(voltage=1000)                                  # 1 keyword argument
#parrot(voltage=1000000, action='VOOOOOM')             # 2 keyword arguments
#parrot(action='VOOOOOM', voltage=1000000)             # 2 keyword arguments
parrot('a million', 'bereft of life', 'jump')         # 3 positional arguments
parrot('a thousand', state='pushing up the daisies')  # 1 positional, 1 keyword

-- This parrot wouldn't jump if you put a million volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's bereft of life !
-- This parrot wouldn't voom if you put a thousand volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's pushing up the daisies !

but all the following calls would be invalid:

In [ ]:
parrot()             # required argument missing

TypeError: parrot() missing 1 required positional argument: 'voltage'

In [ ]:
parrot(voltage=5.0, 'dead')  # non-keyword argument after a keyword argument

SyntaxError: positional argument follows keyword argument (687679583.py, line 1)

In [ ]:
parrot(110, voltage=220)         # duplicate value for the same argument

TypeError: parrot() got multiple values for argument 'voltage'

In [ ]:
 parrot(actor='John Cleese')      # unknown keyword argument

TypeError: parrot() got an unexpected keyword argument 'actor'

In a function call, keyword arguments must follow positional arguments.

When a final formal parameter of the form **name is present, it receives a dictionary (see Mapping Types — dict) containing all keyword arguments except for those corresponding to a formal parameter. This may be combined with a formal parameter of the form *name (described in the next subsection) which receives a tuple containing the positional arguments beyond the formal parameter list. (*name must occur before **name.) For example, if we define a function like this:

In [ ]:
def cheeseshop(kind, *arguments, **keywords):
    print("--Do you have any", kind, "?")
    print("--I'm sorry we're all out of",kind)
    for arg in arguments:
        print(arg)
    print("-" * 10)
    for kw in keywords:
        print(kw,":",keywords[kw])

In [ ]:
cheeseshop("Limburger", "It's very runny, sir.",
           "It's really very, VERY runny, sir.",
           shopkeeper="Michael Palin",
           client="John Cleese",
           sketch="Cheese Shop Sketch")

--Do you have any Limburger ?
--I'm sorry we're all out of Limburger
It's very runny, sir.
It's really very, VERY runny, sir.
----------
shopkeeper : Michael Palin
client : John Cleese
sketch : Cheese Shop Sketch

# 4.8.3. Special parameters

# def f(pos1, pos2, /, pos_or_kwd, *, kwd1, kwd2):
             -----------                ----------         ----------
               |                               |                  |
               |                    Positional or keyword         |
               |                                             - Keyword only
             -- Positional only

where / and * are optional.

# 4.8.3.1. Positional-or-Keyword Arguments

If / and * are not present in the function definition, arguments may be passed to a function by position or by keyword.

# 4.8.3.4. Function Examples

In [ ]:
def standard_arg(arg):
    print(arg)

def pos_only_arg(arg, /):
    print(arg)
    
def kwd_only_arg(*, arg):
    print(arg)
    
def combined_example(pos_only, /, standard, *, kwd_only):
    print(pos_only, standard, kwd_only)

The first function definition, standard_arg, the most familiar form, places no restrictions on the calling convention and arguments may be passed by position or keyword:

In [ ]:
standard_arg(2)

2

In [ ]:
standard_arg(arg=2)

2

The second function pos_only_arg is restricted to only use positional parameters as there is a / in the function definition:

In [ ]:
pos_only_arg(1)

1

In [ ]:
pos_only_arg(arg=1)

TypeError: pos_only_arg() got some positional-only arguments passed as keyword arguments: 'arg'

The third function kwd_only_args only allows keyword arguments as indicated by a * in the function definition:

In [ ]:
kwd_only_arg(3)

TypeError: kwd_only_arg() takes 0 positional arguments but 1 was given

In [ ]:
kwd_only_arg(arg=3)

3

And the last uses all three calling conventions in the same function definition:

In [ ]:
combined_example(1, 2, 3)

TypeError: combined_example() takes 2 positional arguments but 3 were given

In [ ]:
combined_example(1, 2, kwd_only=3)

1 2 3

In [ ]:
combined_example(1, standard=2, kwd_only=3)

1 2 3

In [ ]:
combined_example(pos_only=1, standard=2, kwd_only=3)

TypeError: combined_example() got some positional-only arguments passed as keyword arguments: 'pos_only'

Finally, consider this function definition which has a potential collision between the positional argument name and **kwds which has name as a key:
    There is no possible call that will make it return True as the keyword 'name' will always bind to the first parameter. For example:

In [ ]:
def foo(name, **kwds):
    return 'name' in kwds

In [ ]:
foo(1, **{'name': 2})

TypeError: foo() got multiple values for argument 'name'

But using / (positional only arguments), it is possible since it allows name as a positional argument and 'name' as a key in the keyword arguments:

In [ ]:
def foo(name, /, **kwds):
    return 'name' in kwds

In [ ]:
foo(1, **{'name': 2})

True

# 4.8.3.5. Recap

The use case will determine which parameters to use in the function definition

In [ ]:
def f(pos1, pos2, /, pos_or_kwd, *, kwd1, kwd2):

IndentationError: expected an indented block (155562420.py, line 1)

# 4.8.4. Arbitrary Argument Lists

arbitrary = मनमाना

In [ ]:
def write_multiple_items(file, separator, *args):
    file.write(separator.join(args))

 Any formal parameters which occur after the *args parameter are ‘keyword-only’ arguments, meaning that they can only be used as keywords rather than positional arguments.

In [ ]:
def concat(*args, sep="/"):
    return sep.join(args)

In [ ]:
concat("earth","mars","venus")

'earth/mars/venus'

In [ ]:
concat("earth", "mars", "venus", sep=".")

'earth.mars.venus'

# 4.8.5. Unpacking Argument Lists

Unpacking 
We can use * to unpack the list so that all elements of it can be passed as different parameters.

In [ ]:
list(range(3,6))      # normal call with separate arguments

[3, 4, 5]

In [ ]:
args = [3,6]    # call with arguments unpacked from a list
list(range(*args))

[3, 4, 5]

In the same fashion, dictionaries can deliver keyword arguments with the **-operator

In [ ]:
def parrot(voltage, state='a stiff', action='voom'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.", end=' ')
    print("E's", state, "!")
    
d = {"voltage": "four million", "state": "bleedin' demised", "action": "VOOM"}
parrot(**d)

-- This parrot wouldn't VOOM if you put four million volts through it. E's bleedin' demised !

# 4.8.6. Lambda Expressions

In [ ]:
def make_incrementor(n):
    return lambda x: x+n

In [ ]:
f = make_incrementor(42)
f(0)

42

In [ ]:
f(1)

43

In [ ]:
f(9)

51

The above example uses a lambda expression to return a function. Another use is to pass a small function as an argument:

In [ ]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair: pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

# 4.8.7. Documentation Strings

In [ ]:
def my_function():
    """Do nothing, but document it.
    
    No, really, it doesn't do anything.
    """
    pass

print(my_function.__doc__)

do nothing, but document it.
    No, really, it doesn't do anything.

What should a docstring look like?

The doc string line should begin with a capital letter and end with a period.
The first line should be a short description.
If there are more lines in the documentation string, the second line should be blank, visually separating the summary from the rest of the description.
The following lines should be one or more paragraphs describing the object’s calling conventions, its side effects, etc.
Declaring Docstrings: The docstrings are declared using ”’triple single quotes”’ or “””triple double quotes””” just below the class, method or function declaration. All functions should have a docstring.

Accessing Docstrings: The docstrings can be accessed using the __doc__ method of the object or using the help function.
The below examples demonstrates how to declare and access a docstring.

In [ ]:
def power(a, b):
    """Returns arg1 raised to power arg2."""
   
    return a**b
  
print(power.__doc__)

Returns arg1 raised to power arg2.

# 5. Data Structures

# 5.1. More on Lists

In [ ]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [ ]:
fruits.count('apple')

2

In [ ]:
fruits.index("pear")

2

In [ ]:
fruits.index("pear",3)    # Find next pear starting a position 3

ValueError: 'pear' is not in list

In [ ]:
fruits.reverse()

In [ ]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [ ]:
fruits.append("grape")

In [ ]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [ ]:
fruits.sort()
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [ ]:
fruits.pop()

'pear'

# 5.1.1. Using Lists as Stacks

retrieve = फिर से प्राप्त करना

To add an item to the top of the stack, use append(). To retrieve an item from the top of the stack, use pop() without an explicit index. For example:

In [ ]:
stack = [3, 4, 5]

In [ ]:
stack.append(6)

In [ ]:
stack.append(8)

In [ ]:
stack

[3, 4, 5, 6, 8]

In [ ]:
stack.pop()

8

In [ ]:
stack

[3, 4, 5, 6]

# 5.1.2. Using Lists as Queues

To implement a queue, use collections.deque which was designed to have fast appends and pops from both ends. For example:

In [ ]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
queue.append("Graham")          # Graham arrives

In [ ]:
queue

deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])

In [ ]:
queue.popleft()
queue

deque(['John', 'Michael', 'Terry'])

# 5.1.3. List Comprehensions

Comprehensions = समझ

 Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [ ]:
squares = []
for x in range(10):
    squares.append(x**2)

In [ ]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Note that this creates (or overwrites) a variable named x that still exists after the loop completes. We can calculate the list of squares without any side effects using:

In [ ]:
squares = list(map(lambda x: x**2, range(11)))

In [ ]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
squares = [x**2 for x in range(9)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64]

 this listcomp combines the elements of two lists if they are not equal:

In [ ]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [ ]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x,y))

In [ ]:
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

parenthesize = बीच में लिखना

In [ ]:
vec = [-4, -2, 0, 2, 4]   # create a new list with the values doubled

In [ ]:
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [ ]:
[x for x in vec if x >= 0]  # filter the list to exclude negative numbers

[0, 2, 4]

In [ ]:
[abs(x) for x in vec]  # apply a function to all the elements

[4, 2, 0, 2, 4]

In [ ]:
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
 # call a method on each element

In [ ]:
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

Remove spaces at the beginning and at the end of the string: by .strip()

In [ ]:
# create a list of 2-tuples like (number, square)
[(x, x**2) for x in range(5)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16)]

In [ ]:
# the tuple must be parenthesized, otherwise an error is raised
[x, x**2 for x in range(6)]

SyntaxError: invalid syntax (3265058268.py, line 2)

In [ ]:
# flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

List comprehensions can contain complex expressions and nested functions:

In [ ]:
from math import pi
[str(round(pi,i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

# 5.1.4. Nested List Comprehensions

In [ ]:
matrix = [
   [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

The following list comprehension will transpose rows and columns:

In [ ]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [ ]:
transposed = []
for i in range (4):
    transposed.append([row[i] for row in matrix])
    
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [ ]:
transposed = []
for i in range(4):
    # the following 3 lines implement the nested listcomp
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)
    
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In the real world, you should prefer built-in functions to complex flow statements. The zip() function would do a great job for this use case:

In [ ]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

# 5.2. The del statement

There is a way to remove an item from a list given its index instead of its value: the del statement. This differs from the pop() method which returns a value. The del statement can also be used to remove slices from a list or clear the entire list (which we did earlier by assignment of an empty list to the slice). For example:

In [ ]:
a = [-1, 1, 66.25, 333, 333, 1234.5]

In [ ]:
del a[0]

In [ ]:
a

[1, 66.25, 333, 333, 1234.5]

In [ ]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [ ]:
del a[:]
a

[]

del can also be used to delete entire variables:

In [ ]:
del a

# 5.3. Tuples and Sequences

We saw that lists and strings have many common properties, such as indexing and slicing operations.

A tuple consists of a number of values separated by commas, for instance:

In [ ]:
t = 12345, 54321, 'hello!'
t[0]

12345

In [ ]:
t

(12345, 54321, 'hello!')

In [ ]:
# Tuples may be nested:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [ ]:
# Tuples are immutable:
t[0] = 100

TypeError: 'tuple' object does not support item assignment

In [ ]:
# but they can contain mutable objects:
v = ([1, 2, 3], [3, 2, 1])
v

([1, 2, 3], [3, 2, 1])

In [ ]:
a=(1,1,2,3,3,'kashif',3.4)
a

(1, 1, 2, 3, 3, 'kashif', 3.4)

 Empty tuples are constructed by an empty pair of parentheses; a tuple with one item is constructed by following a value with a comma (it is not sufficient to enclose a single value in parentheses). Ugly, but effective. For example:

In [ ]:
empty = ()
singleton = 'hello',  # <-- note trailing comma
len(empty)

0

In [ ]:
len(singleton)

1

In [ ]:
singleton

('hello',)

In [ ]:
t = "kk","kl"
type(t)

tuple

# 5.4. Sets

. A set is an unordered collection with no duplicate elements. Basic uses include membership testing and eliminating duplicate entries. Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

Curly braces or the set() function can be used to create sets. Note: to create an empty set you have to use set(), not {}; the latter creates an empty dictionary

In [ ]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket) # show that duplicates have been removed

{'apple', 'orange', 'banana', 'pear'}

In [ ]:
'orange' in basket   # fast membership testing

True

In [ ]:
'crabgrass' in basket

False

In [ ]:
# Demonstrate set operations on unique letters from two words

In [ ]:
a = set('abracadabra')
b = set('alacazam')

In [ ]:
a   # unique letters in a

{'a', 'b', 'c', 'd', 'r'}

In [ ]:
a - b   # letters in a but not in b

{'b', 'd', 'r'}

In [ ]:
a | b   # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [ ]:
a & b   # letters in both a and b

{'a', 'c'}

In [ ]:
a ^ b   # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

Similarly to list comprehensions, set comprehensions are also supported:

In [ ]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

# 5.5. Dictionaries

In [ ]:
tel = {'jack': 4098, 'sape': 4139}

In [ ]:
tel['kashif']=4100
tel

{'jack': 4098, 'sape': 4139, 'kashif': 4100}

In [ ]:
del tel['jack']
tel

{'sape': 4139, 'kashif': 4100}

In [ ]:
list(tel)

['sape', 'kashif']

In [ ]:
sorted(tel)

['kashif', 'sape']

In [ ]:
'kashif' in tel

True

In [ ]:
'khan' in tel

False

The dict() constructor builds dictionaries directly from sequences of key-value pairs:

In [ ]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In addition, dict comprehensions can be used to create dictionaries from arbitrary key and value expressions:

In [ ]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

When the keys are simple strings, it is sometimes easier to specify pairs using keyword arguments:

In [ ]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

# 5.6. Looping Techniques

retrieved = पुनः प्राप्त किया

When looping through dictionaries, the key and corresponding value can be retrieved at the same time using the items() method.

In [ ]:
d = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in d.items():
    print(k, v ,end=" ")

gallahad the pure robin the brave

When looping through a sequence, the position index and corresponding value can be retrieved at the same time using the enumerate() function.

In [ ]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

To loop over two or more sequences at the same time, the entries can be paired with the zip() function.

In [ ]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('what is your {0}? It is {1}.' .format(q, a))

what is your name? It is lancelot.
what is your quest? It is the holy grail.
what is your favorite color? It is blue.

To loop over a sequence in reverse, first specify the sequence in a forward direction and then call the reversed() function.

In [ ]:
for i in reversed(range(1,10,2)):
    print(i)

9
7
5
3
1

To loop over a sequence in sorted order, use the sorted() function which returns a new sorted list while leaving the source unaltered.

In [ ]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in sorted(basket):
    print(i)

apple
apple
banana
orange
orange
pear

Using set() on a sequence eliminates duplicate elements. The use of sorted() in combination with set() over a sequence is an idiomatic way to loop over unique elements of the sequence in sorted order.

In [ ]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for kk in sorted(set(basket)):
    print(kk)

apple
banana
orange
pear

tempting = आकर्षक

It is sometimes tempting to change a list while you are looping over it; however, it is often simpler and safer to create a new list instead.

The math.isnan() method checks whether a value is NaN (Not a Number), or not.

This method returns True if the specified value is a NaN, otherwise it returns False.
Syntax
math.isnan(x)

In [ ]:
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)
        
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

# 6. Modules

A module is a file containing Python definitions and statements.
The file name is the module name with the suffix .py appended.

In [ ]:
# Fibonacci numbers module

def fib(n):    # write Fibonacci series up to n
    a, b =0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

In [ ]:
fib(14)

0 1 1 2 3 5 8 13

In [ ]:
def fib2(n):   # return Fibonacci series up to n
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result

In [ ]:
fib2(14)

[0, 1, 1, 2, 3, 5, 8, 13]

In [ ]:
from fibo import fib
print("foo")
import fibo

ModuleNotFoundError: No module named 'fibo'